* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: Roboto, Noto Sans SC, PingFang SC, Lantinghei SC, Microsoft Yahei,
    Hiragino Sans GB, "Microsoft Sans Serif", WenQuanYi Micro Hei, sans-serif;
  user-select: none;
}

.fade-enter-from {
  opacity: 0;
}

.fade-enter-to {
  opacity: 1;
}

.fade-leave-from {
  opacity: 1;
}

.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.1s ease-in;
}

.fade2-enter-from {
  opacity: 0;
  transform: scale(0.98) translateY(10px);
}

.fade2-enter-to {
  opacity: 1;
  transform: scale(1) translateY(0px);
}

.fade2-leave-from {
  opacity: 1;
}

.fade2-leave-to {
  opacity: 0;
}

.fade2-enter-active,
.fade2-leave-active {
  transition: all 0.1s ease;
}

.font-bolder {
  font-weight: normal;
  -webkit-text-stroke: 0.05em currentColor;
}

.font-bold-200 {
  font-weight: normal;
  -webkit-text-stroke: 0.02em currentColor;
}

.font-bold-400 {
  font-weight: normal;
  -webkit-text-stroke: 0.04em currentColor;
}

.font-bold-600 {
  font-weight: normal;
  -webkit-text-stroke: 0.06em currentColor;
}

.line-hide-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
}

.line-hide-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
}

.line-hide-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

.skeleton {
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgb(var(--mdui-color-surface-container)) 25%,
    rgb(var(--mdui-color-surface)) 50%,
    rgb(var(--mdui-color-surface-container)) 75%
  );
  background-size: 200% 100%;
  animation: loading 3.5s infinite linear;
}

.hidden {
  visibility: hidden;
}

mdui-dialog p > span.path {
  color: rgb(var(--mdui-color-primary));
}

.headline > span.mark,
.description > span.mark,
mdui-dialog p > span.mark {
  color: rgb(var(--mdui-color-error));
  font-weight: normal;
  -webkit-text-stroke: 0.02em currentColor;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: rgb(var(--mdui-color-on-surface-variant));
}
