.markdown-content a[data-fancybox="gallery"] {
  display: block;
  width: 100%;
  min-height: 180px;
  border-radius: 10px;
  margin: 8px 0;
}

.markdown-content img {
  border-radius: 10px;
  width: 100%;
}

.markdown-content audio {
  width: 100%;
  margin: 5px 0;
  border-radius: 10px;
  background-color: rgb(var(--mdui-color-surface-container));
  box-shadow: var(--mdui-elevation-level2);
}

.markdown-content audio::-webkit-media-controls,
.markdown-content audio::-webkit-media-controls-enclosure {
  background-color: rgb(var(--mdui-color-surface-container));
}

.markdown-content video {
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: var(--mdui-elevation-level2);
  margin: 5px 0;
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3 {
  margin: 10px 6px;
  font-weight: normal;
  -webkit-text-stroke: 0.03em currentColor;
  letter-spacing: 1.2px;
}

.markdown-content .title {
  text-align: center;
  margin-top: 0;
  margin: 30px 0;
}

.markdown-content h4,
.markdown-content h5 {
  margin: 8px 5px;
  font-weight: normal;
  -webkit-text-stroke: 0.02em currentColor;
  letter-spacing: 1.2px;
}

.fancybox__dialog button[title="Previous"],
.fancybox__dialog button[title="Next"] {
  display: none !important;
}

.fancybox__dialog .fancybox__backdrop {
  background-color: rgb(24, 24, 27);
}

.f-thumbs.is-modern .f-thumbs__slide.is-selected button {
  border: 2px solid #fff;
}
